<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Home</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar" class="align-text-bottom"></span>
      This week
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div style="border: 1px solid var(--bs-border-color); padding: 5px;">
    <div class="row" >
      <div class="col-md-8">
        <h4>VPN</h4>
      </div>
      <div class="col-md-4">
        <%= @vpn[:status] == "not_connected" ? "<span style='color: red'>Not Connected</span>" : "<span style='color: green'>Connected</span>"%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Exit IP: <%= @vpn[:ip] %></h5>
        <strong>Country: </strong> <%= @vpn[:country] %>
        <br />
        <strong>City: </strong> <%= @vpn[:city] %>, <%= @vpn[:state] %>
        <br />
        <strong>ISP: </strong> <%= @vpn[:org] %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <a href= "/rotate_vpn" class="btn btn-sm btn-outline-secondary">Rotate IP</a>
      <button type="button" class="btn btn-sm btn-outline-secondary">Kill VPN</button>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <h5>Zeek</h5>
  </div>
  <div class="col-md-4">
    <h5>mitmproxy</h5>
    <a href= "/enable_mitmproxy" class="btn btn-sm btn-outline-secondary">Enable mitmproxy</a>
    <a href= "/disable_mitmproxy" class="btn btn-sm btn-outline-secondary">Disable mitmproxy</a>
  </div>
</div>
